*{
    box-sizing: border-box;
}

body{
        background: #333;
}

.skills{
    background: #333;
    height: auto;
}

.skills h2{
    /* width: 400px; */
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid whitesmoke;
}

.card-title{
    text-align: center;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 700;
}




.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    width: 100%;
}

.card-content{
  margin-bottom: 20px;
    padding: 30px; 
    transition: 0.5s;
  border-radius: 20px;
}

.card-content:hover{
    transition: 0.9s;
    box-shadow: 4px 7px 30px rgba(0, 0, 0, 0.555);
    margin-top: 10px;
}

@media only screen and (max-width:411px){
  
    .card-title{
        font-size: 30px;
    }

    .cards{
        grid-template-columns: 50% 50%;
    }

    .card-content{
        margin-bottom: 20px;
        padding: 12px; 
        transition: 0.5s;
        border-radius: 20px;
    }
    .card-content > h1{
        font-size: 5px;
        padding: -15px;
        font-weight: 400;
        margin-top: 0;
    }
}

@media(min-width:412px) and (max-width:768px){
  
    .cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        width: 100%;
    }
}


@media(min-width:769px) and (max-width:1024px){
  
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-between;
        width: 100%;
    }

    .skills{
        height: 100vh;
    }
}
