.certificate{
    height: 100vh;
}

.certificate-content{
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.certificate-card{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.548);
    transition: 0.5s;
}

.certificate-card:hover{
    margin-top: -50px;
    box-shadow: 10px 20px 70px rgba(0, 0, 0, 0.548);
    transition: 0.5s;
}

.certificate-card h1{
    font-size: 30px;
    color: whitesmoke;
    border-bottom:2px solid #555;
    border-right:2px solid #555;
}

.certificate-card img{
    width: 100%;
    height: 350px;

}

.certificate-card svg
{
    font-size: 50px;
    margin-top: -60px;
    margin-left: -40px;
    color: goldenrod;
    
}

.btn-outline-danger {
    color:whitesmoke;
    border-color: rgb(136, 18, 18);
    opacity: 0.7;
}
.btn-outline-danger:hover {
    color:whitesmoke;
    border-color: rgb(136, 18, 18);
}

@media only screen and (max-width:480px){
    .certificate{
        height: 200vh;
    }
   
    .certificate-card{
        width: 70%;
        margin-top: 50px;
    }

    
    .certificate-card:hover{
        margin-top: 70px;
        box-shadow: 10px 20px 70px rgba(0, 0, 0, 0.548);
        transition: 0.5s;
    }

    .certificate-card h1{
        font-size: 23px;
    }

    .certificate-card img{
        width: 100%;
        height: 200px;
    }



}